@charset "utf-8";



html, body {
	margin:0 auto;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 500;
	color:#000;
	height: 100%;
}

h1, h2, p{
	margin: 0;
}

.section{
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
}


.header{
    max-width: 1024px;
    width: auto;
    position: relative;
    left: 50%;
    top: 50%;
    align-items:flex-end;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.form{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: left;
}

.form_input{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	border: 1px solid #356294;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	padding: 5px;
	font-weight: bold;
}

.form_btn{
	color:#fff;
	font-weight: bold;
	padding: 10px 25px;
	background-color: #356294;
	border: 1px solid #356294;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form_btn:hover{
	background-color: #adc8e7;
	color:#000;
}

.logo{
	display: inline-block;
}

.title{
	display: inline-block;
}

/* ---------------------------------------------------APLICATIONS STYLES*/

.aplication_header{
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
	background-color: #356294;
	width: 100%;
	-webkit-box-shadow: 0px 8px 22px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 22px -11px rgba(0,0,0,0.75);
box-shadow: 0px 8px 22px -11px rgba(0,0,0,0.75);
}

.aplication_title{
	color:#fff;
	font-size: 14px;
	margin-right: 20px;
}

.aplication_logo {
	margin-right: 20px;
}

.user_company{
	color:#fff;
	font-size: 12px;
	margin-right: 10px;
}

.section_aplication{
	padding: 0px 1em;
	box-sizing: border-box;
	text-align: left;
}

.search_truck, .search_train, .result_train_selected{
	display: flex;
	flex-direction: row;
    align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
    padding: 20px;
    background-color: #beced7;
    border-bottom: 1px solid #ddd;

}

.result_train_selected{
	display: none;
}

.resume_train_container{
	display: none;
}


.select{
	display: inline-block;
	width: 60%;
	height: 40px;
	border: 1px solid #356294;
	margin-top: 15px;
	margin-bottom: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	padding: 5px;
	font-weight: bold;
}

.label_aplication_truck, .label_aplication_train{
	display: inline-block;
    font-weight: 500;
    line-height: 75px;
}

.input_aplication_truck, .input_aplication_train{
	width: 60%;
	height: 40px;
	border: 1px solid #356294;
	margin-top: 15px;
	margin-bottom: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	padding: 5px;
	font-weight: bold;
}

.input_zone{
	width: 70%;
	height: 30px;
	border: 1px solid #356294;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	padding: 2px;
	font-weight: bold;

}

.label_aplication_train_plus{
	display: block;
	margin-bottom: -35px;
}



.form_aplication:focus, .select:focus, .form_input:focus  {
	border: 2px solid #2da1eb;
	-webkit-box-shadow: inset 5px 5px 59px -21px rgba(14,84,128,1);
	-moz-box-shadow: inset 5px 5px 59px -21px rgba(14,84,128,1);
	box-shadow: inset 5px 5px 59px -21px rgba(14,84,128,1);

}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #beced7;
    font-weight: 700;
}


.nav-tabs>li.active>a:, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #beced7;
    font-weight: 700;
}
.nav>li>a{
	padding: 12px 50px;
    margin-left: 32px;
    margin-top: 10px;
}

.nav-tabs{
	margin: 0px 1em;
}





th{
	background-color: #356294;
	color:#FFF;
	font-weight: 500;
}

td{
	text-align: center;
}

.pagination{
	display: flex;
	flex-direction: row;
}

.pagination_btn{
	padding: 3px 10px;
	font-weight: 500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pagination_btn:last-child{
	margin-left: 20px;
}

.content_inputs_aplication{
	width: 50%;
	text-align: center;
}

.content_chekbox{
	width: 100%;
	text-align: center;
	padding: 20px;
}

label{
	font-weight: normal;
}

input[type=radio]{
	display: none;


}

input[type=radio]:first-of-type{
	margin-left: 0;
}

input[type="radio"] + label {
    color: #000;
    font-family:Arial, sans-serif;
    font-size:14px;
    margin-right: 7px;
    margin-left: 60px;
}

input[type=radio] + label:first-of-type{
	margin-left: 0;
}


input[type="radio"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    font-weight: normal;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#356294;
}

input[type="radio"]:checked + label span{
     background-color:#128b09;
     border:2px solid #898e08;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}




.content_arrow_return{
	width:100%;
	text-align:center;

}

.arrow_return_img{
	cursor: pointer;
}






/*----------------------------------------------- END APLICATIONS STYLES*/

@media screen and (max-width: 800px) {
	.input_aplication_train{
		width: 50%;
	}

}

@media screen and (max-width: 706px) {
	.search_truck, .search_train{
		flex-direction: column;
	}
	.label_aplication_truck{
		width: 100px;
	}

	.label_aplication_train{
		width: 155px;
	}

	.input_aplication_train, .input_aplication_truck{
		width: 70%;
		margin-top: 0;
	}

	.select{
		margin-top: 0;
		width: 70%;
	}

	.label_aplication_truck, .label_aplication_train {
		display: block;
		line-height: normal;
	}

	.content_inputs_aplication{
		width: 80%;
		text-align: left;
	}

	.label_aplication_train_plus{
		width: auto;
		margin-bottom: 7px;
	}


}

@media screen and (max-width: 501px) {
	input[type="radio"] + label {
		    margin-left: 30px;
	}

}

@media screen and (max-width: 442px) {
	.content_chekbox {
		   text-align: left;
	}

	input[type=radio] + label:last-of-type{
	margin-left: 0;
	margin-top: 30px;
}

}

@media screen and (max-width: 410px) {
	.nav>li>a{
    margin-left: 0;
    margin-top: 0;
}

}

@media screen and (max-width: 328px) {
	input[type=radio] + label:nth-child(2n){
		margin-left: 10px;
		margin-top: 30px;
	}
}


@media screen and (max-width: 700px) {
	.form,{
		width: 80%;
	}


}

@media screen and (max-width: 560px) {

	.select, .input_aplication_truck, .input_aplication_train{
		width: 70%;

	}
	.content_inputs_aplication{
		width: 100%;
	}


}


@media screen and (max-width: 500px) {
	table{
		font-size: 11px;
	}

}