<div class="searchTrain">
    
    <div style="float:left; width: 47%">
        <div class="contentInputSearchType trainService">
            <p-dropdown [options]="trainServices" [(ngModel)]="selectedTrainService"></p-dropdown>
        </div>
        <div class="contentInputDate">
            <p-calendar [(ngModel)]="fechaOficialSalida" placeholder="dd/mm/aaaa" onfocus="this.placeholder = ''" onblur="this.placeholder = 'dd/mm/aaaa'" [locale]="es"></p-calendar>
        </div>        
    </div>
     <div style="float:right; width: 47%">
        <div class="contentInputSearchType opera">
            <p-dropdown [options]="operaciones" [(ngModel)]="selectedOperacion"></p-dropdown>
        </div>
        <div class="contenIconSearch">
            <img src="app/resources/img/IconSearch.png"class="imgSearch" (click)="search()">
        </div>
        </div>
</div>
 
<div class="paddingTop"  *ngIf="trains && trains.length > 0">
    <div class="itemsListSearchTrain" *ngFor="let train of trains"> 
            <div class="contentContenedorTruck">
                <p class="descrptionSearchTrain">{{train.servicio}}</p>
                <p class="descrptionSearch">{{ train.fos | date:'mediumDate'}}</p>
            </div>

            <div class="contentContenedorType">
                <p>{{ train.frl | date:'d'}}/{{ train.frl | date:'MM'}}/{{ train.frl | date:'y'}} {{ train.frl | date:'HH:mm'}}</p>
                <p>{{train.operacion}}</p>
            </div>
            
            <div class="contentBtnTrainPlus">
                <button class="btnFinalizar" (click)="selectTrain(train)">+</button>
            </div>
     </div>
</div>
