<div class="searchTruck">
    <div class="contenIconSearch">
        <img src="app/resources/img/IconSearch.png"class="imgSearch" (click)="search()">
    </div>

    <div class="contentInputSearchContainer"> 

        <p-calendar [(ngModel)]="fechaOficialSalida" placeholder="dd/mm/aaaa" onfocus="this.placeholder = ''" onblur="this.placeholder = 'dd/mm/aaaa'" [locale]="es"></p-calendar>

    </div>
    <div class="contentInputSearchType">
        <p-dropdown [options]="trainServices" [(ngModel)]="selectedTrainService"></p-dropdown>
    </div>
    <div class="contentInputSearchType">
        <p-dropdown [options]="operaciones" [(ngModel)]="selectedOperacion"></p-dropdown>
    </div>
</div>
 
<div class="paddingTop"  *ngIf="trains && trains.length > 0">
    <div class="itemsListSearchTrain" *ngFor="let train of trains"> 
            <div class="contentContenedorTruck">
                <p class="descrptionSearchTrain">{{train.servicio}}</p>
                <p class="descrptionSearch">{{ train.fos | date:'mediumDate'}}</p>
            </div>

            <div class="contentContenedorType">
                <p>{{train.operacion}}</p>
            </div>
            
            <div class="contentBtnTrainPlus">
                <button class="btnFinalizar" (click)="selectTrain(train)">+</button>
            </div>
     </div>
</div>
