<!-- INICIO SEGUNDA VENTANA TREN -->
<div class="searchTruck paddingSearchTrain">
        <img src="app/resources/img/arrow.png" class="imgArrow" (click)="goBack()">
    
        <p class="infoSelectedTrainItemLeft">{{_trainService.selectedTrain.servicio}}</p>
        <p class="infoSelectedTrainItemRight">{{ _trainService.selectedTrain.frl | date:'d'}}/{{ _trainService.selectedTrain.frl | date:'MM'}}/{{ _trainService.selectedTrain.frl | date:'y'}} {{ _trainService.selectedTrain.frl | date:'HH:mm'}}</p>
        <p class="infoSelectedTrainItemLeft">{{ _trainService.selectedTrain.fos | date:'d'}}/{{ _trainService.selectedTrain.fos | date:'MM'}}/{{ _trainService.selectedTrain.fos | date:'y'}}</p>
        <p class="infoSelectedTrainItemRight">{{_trainService.selectedTrain.operacion}}</p>
</div>
 
<div class="paddingTop" *ngIf="trainEquips && trainEquips.length > 0">
    <div class="itemsListSearchTrain" *ngFor="let equip of trainEquips"> 
            <div class="contentContenedorTruck">
                <p class="descrptionSearchTrain"> {{equip.matricula}} <span class="tipeContainer">{{equip.tipo}}</span></p>
                <p class="descrptionSearch" *ngIf="equip.numAutorizacion">{{equip.numAutorizacion}}</p>
                <p class="descrptionSearch" *ngIf="!equip.numAutorizacion">-</p>
            </div>

            <div class="contentContenedorType">
                <p *ngIf="_trainService.selectedTrain.operacion.toUpperCase() === 'DESCARGA'">{{_trainService.selectedTrain.ubicacionEplanada}}</p>
                <p *ngIf="_trainService.selectedTrain.operacion.toUpperCase() === 'CARGA'">{{_trainService.selectedTrain.ubicaionTren}}</p>
                <p>{{equip.llenoVacio}}</p>
            </div>
            
            <div class="contentBtnTrainPlus">
                <button class="btnFinalizar" (click)="selectEquip(equip)">F</button>
            </div>
     </div>
</div>

<p-dialog header="Confirmación" data-icon="fa-plus" [(visible)]="displayConfirmation" modal="modal" showEffect="fade">
    
        <p></p>
        <input type="text"  placeholder="Ubicacion" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ubicacion'"/>
    
    <footer>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="display=false">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmMovement()">Aceptar</button>-->
        <button type="button" pButton icon="fa-close" (click)="deselectEquip()" label="Cancelar"></button>
        <button type="button" pButton icon="fa-check" (click)="confirmEquip()" label="Aceptar"></button>        
    </footer>
</p-dialog>

<!--FIN SEGUNDA VENTANA TREN -->

<!--<div>
    <form class="search_train" id="search_train">
        <div class="content_inputs_aplication">
            <label class="label_aplication_train">Servicio:</label>
            <select class="select">
							<option value="" selected="SALIDA">SALIDA</option>
							<option value="ENTRADA">ENTRADA</option>
						</select>
        </div>
        <div class="content_inputs_aplication">
            <label class="label_aplication_train">Fecha oficial salida</label>
            <input type="date" class="input_aplication_train" required>
        </div>
        <div class="content_chekbox">
            <input type="radio" name="mov" id="radio01"><label for="radio01"><span></span>Carga</label>
            <input type="radio" name="mov" id="radio02"><label for="radio02"><span></span>Descarga</label>
            <input type="radio" name="mov" id="radio03"><label for="radio03"><span></span>Todos</label>
        </div>
        <input type="submit" class="form_btn btn_margin_left" value="BUSCAR">
    </form>

</div>
-->